#### 1. WAP to take 10 numbers from a user and store them in a list.

In [6]:
lst = []
n = int(input("Enter the number: "))
for i in range(0,n):
    value = int(input())
    lst.append(value)
print(lst)

Enter the number: 10
4
5
3
2
5
6
8
3
8
9
[4, 5, 3, 2, 5, 6, 8, 3, 8, 9]

#### 2. Display numbers divisible by 5 from a list.

In [8]:
div = [6,10,45,37,89,40,35]
for i in div:
    if i%5==0:
        print(i)

10
45
40
35

#### 3. WAP to calculate the count of elements in a string taken as input from the user.

In [11]:
strng = "Hello, Im Nithya !!!"
print(len(strng))

20

#### 4. WAP to check if a number is even or odd where number is taken as input.

In [13]:
x = int(input("Enter a number: "))
if x%2==0:
    print("Even")
else:
    print("Odd")

Enter a number: 4
Even

#### 5. WAP to reverse a string taken as input from the user.

In [17]:
strng = input("Enter a string: ")
print(strng[::-1])

Enter a string: Hello
olleH

#### 6. WAP to reverse all the strings present in a list and save them in a new list.

In [21]:
lst = []
strn = ["Hello All!!"][::-1]
for i in strn:
    nstrn = i
    lst.append(nstrn)
print(lst)

['Hello All!!']

#### 7. Print characters from a string that are present at an even index number

In [16]:
a = "Hello Im Nithya"
for i in range(len(a)):
    if i%2==0:
        print("Even",a[i])

Even H
Even l
Even o
Even I
Even
Even i
Even h
Even a

#### 8. Check if the first and last number of a list is the same

In [21]:
lst = [6,10,45,37,89,40,35,6]
print("Original List: ", lst)
if lst[0]==lst[-1]:
    print("Same",lst[0],lst[-1])
else:
    print("Different",lst[0],lst[-1])

Original List:  [6, 10, 45, 37, 89, 40, 35, 6]
Same 6 6

In [22]:
lst = [6,10,45,37,89,40,35,3]
print("Original List: ", lst)
if lst[0]==lst[-1]:
    print("Same",lst[0],lst[-1])
else:
    print("Different",lst[0],lst[-1])

Original List:  [6, 10, 45, 37, 89, 40, 35, 3]
Different 6 3

#### 9. Calculate income tax for the input income by adhering to the Indian rules.

In [86]:
# Give the income as static input and store it in a variable.
givenincome = int(input("Enter the Total Income: "))
# We will use if and else statements here to complete our income tax calculating conditions,
# which are as follows,
# If your income is less than or equivalent to Rs. 2,50,000,the taxAmount=0.
if givenincome <= 250000:
    taxAmount = 0
# If your income is less than or equal to Rs. 5,00,000,
# the taxAmount will be 5% of your total income over Rs. 2,50,000.
elif givenincome <= 500000:
    taxAmount = (givenincome - 250000) * 0.05
# If your income is less than or equal to Rs. 7,50,000,
# your taxAmount rate will be 10% of your total income
# beyond Rs. 5,00,000, with an additional cost of Rs. 12,500.
elif givenincome <= 750000:
    taxAmount = (givenincome - 500000) * 0.10 + 12500
# If your income is less than or equivalent to Rs. 10,00,000,
# your taxAmount rate will be 15% of your total income over Rs. 7,50,000,
# with an additional fee of Rs. 37,500.
elif givenincome <= 1000000:
    taxAmount = (givenincome - 750000) * 0.15 + 37500
# If your income is less than or equal to Rs. 12,50,000,
# your taxAmount rate will be 20% of your total income beyond Rs. 10,00,000,
# with an additional fee of Rs. 75,000.
elif givenincome <= 1250000:
    taxAmount = (givenincome - 1000000) * 0.20 + 75000
# If your income is less than or equal to Rs. 15,00,000,
# your taxAmount rate will be 25% of your total income beyond Rs. 12,50,000,
# with an additional cost of Rs. 1,25,000.
elif givenincome <= 1500000:
    taxAmount = (givenincome - 1250000) * 0.25 + 125000
# If your income exceeds Rs. 15,00,000,
# you will be taxed at 30% of the excess, with an additional fee of Rs. 1,87,500.
else:
    taxAmount = (givenincome - 1500000) * 0.30 + 187500
# Print the Tax.
print('The tax for the income ', givenincome, '=', taxAmount)

Enter the Total Income: 300000
The tax for the income  300000 = 2500.0

In [1]:
givenincome = int(input("Enter the Total Income: ")) 
if givenincome <= 250000:
    taxAmount = 0
elif givenincome <= 500000:
    taxAmount = (givenincome - 250000) * 0.05
elif givenincome <= 750000:
    taxAmount = (givenincome - 500000) * 0.10 + 12500
elif givenincome <= 1000000:
    taxAmount = (givenincome - 750000) * 0.15 + 37500
elif givenincome <= 1250000:
    taxAmount = (givenincome - 1000000) * 0.20 + 75000
elif givenincome <= 1500000:
    taxAmount = (givenincome - 1250000) * 0.25 + 125000
else:
    taxAmount = (givenincome - 1500000) * 0.30 + 187500
print('The tax for the income ', givenincome, '=', taxAmount)

Enter the Total Income: 800000
The tax for the income  800000 = 45000.0

#### 10. Write a Python program to check whether a string starts with vowel or not.

In [20]:
a = "Hello Im Nithya"
vowel = ['a','e','i','o','u']
if a[0] in vowel:
    print("Yes String Starts with Vowel",a[0])
else:
    print("No string starts with consonant",a[0])

No string starts with consonant H

#### 11. Write a Python program to check if all the characters of a string are vowel or not.

In [32]:
a = "Hello Im Nithya"
vowel = ['a','e','i','o','u']
for i in range(len(a)):
    if a[i] in vowel:
        print("Yes",a[i])
    else:
        print("No", a[i])

No H
Yes e
No l
No l
Yes o
No
No I
No m
No
No N
Yes i
No t
No h
No y
Yes a

#### 12. WAP to calculate percentage of a student through 5 subjects. Take marks as input from the user.

In [36]:
a = int(input("Enter Tamil marks:"))
b = int(input("Enter English marks:"))
c = int(input("Enter Maths Marks:")) 
d = int(input("Enter Science Marks:"))
e = int(input("Enter Social Marks:"))
total= a+b+c+d+e
print(total)
avg = total/5
print("Average Marks: ",avg)

Enter Tamil marks:45
Enter English marks:50
Enter Maths Marks:55
Enter Science Marks:60
Enter Social Marks:65
275
Average Marks:  55.0

#### 13. WAP to convert '95.3' taken as input from the user into float value.

In [46]:
x = str(input("Enter a number: "))
print(type(x))
f = float(x)
print(f)
print(type(f))

Enter a number: 95.3
<class 'str'>
95.3
<class 'float'>

#### 14. WAP to count the number of zeroes present in a number taken as input from the user.

In [65]:
x = str(input("Enter a number: "))
y = x.count('0')
print(y)

Enter a number: 7090
2

#### 15. WAP to calculate the surface area of a triangle. Take the required values as input.

In [66]:
b = int(input("Enter the base= "))
h = int(input("Enter the height= "))
area = 0.5
print("Surface Area of Triangle = ",area*b*h)

Enter the base= 5
Enter the height= 4
Surface Area of Triangle =  10.0

#### 16. WAP to concatenate two lists index-wise and save the result in a 3rd list.

In [68]:
lst1 = ['hi ','How ','you']
lst2 = ['nithya!!','are','????']
lst3 = [i+j for i,j in zip(lst1,lst2)]
print(lst3)

['hi nithya!!', 'How are', 'you????']

#### 17. WAP to convert two lists into a dictionary. Take the elements from first list as keys and elements from second list as values.

In [74]:
lst1 = ['Name: ','Place: ','DOB: ']
lst2 = ['Nithya','Pune','03/12/96']
lst3 = zip(lst1,lst2)
print(dict(lst3))

{'Name: ': 'Nithya', 'Place: ': 'Pune', 'DOB: ': '03/12/96'}

#### 18. Input and store the marks of 10 students in a list. Print max and min marks.

In [79]:
lst = [45,69,67,30,89,45,90,23,45,89]
print("MAX: ",max(lst))
print("MIN: ",min(lst))

MAX:  90
MIN:  23

#### 19. WAP to save the username and password of 10 users in a dictionary.

In [82]:
User_Name = {'Nith_Rc','Hari_H','Pavi_P','Amit_A','Ajay_A','Boomi_B','Akshay_A','Harshi_H','Thechu_T','Haran_H'}
pass_Word = {'ysfe7','74huf','r6g3','73dte','5fhdj','8hhy','63vvec','873vd','8jeh','8djue','8ehe'}
d = zip(User_Name,pass_Word)
print(dict(d))

{'Amit_A': '873vd', 'Hari_H': '8hhy', 'Ajay_A': '5fhdj', 'Thechu_T': 'ysfe7', 'Akshay_A': '73dte', 'Harshi_H': 'r6g3', 'Haran_H': '8jeh', 'Boomi_B': '8ehe', 'Nith_Rc': '74huf', 'Pavi_P': '8djue'}

#### 20. Write a Python program to find the sum of the first n positive integers. Take n as input from the user.

In [83]:
n = int(input("Enter a number: "))
sum_num = (n*(n+1))/2
print("sum of the first",n,"positive integers: ",sum_num)

Enter a number: 8
sum of the first 8 positive integers:  36.0